# VCS / Simulation build artifacts
flow/
sim/build/
sim/run/
sim/regression/
csrc/
*.daidir
vc_hdrs.h
ucli.key
DVEfiles/
AN.DB/
inter.vpd
vcs.log
tr_db.log
novas_dump.log
novas.conf
novas.rc
verdiLog/
